<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-keyboard-constroller" version="0.2.3">
    <name>Keyboard Constroller</name>
    <description>Cordova plugin to control the native keyboard of Android and iOS.</description>
    <author>Daelton Dias</author>
    <license>MIT</license>
    <keywords>cordova, keyboard, constroller, plugin</keywords>
    <repo>https://github.com/DaeltonDias/cordova-plugin-keyboard-constroller.git</repo>
    <issue>https://github.com/DaeltonDias/cordova-plugin-keyboard-constroller/issues</issue>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <js-module src="www/KeyboardConstroller.js" name="KeyboardConstroller">
        <clobbers target="KeyboardConstroller" />
    </js-module>
    <platform name="android">
        <!--<config-file target="config.xml" parent="/*">-->
        <!--    <feature name="Echo">-->
        <!--        <param name="android-package" value="org.apache.cordova.plugin.Echo"/>-->
        <!--    </feature>-->
        <!--</config-file>-->
        <!--<source-file src="src/android/Echo.java" target-dir="src/org/apache/cordova/plugin" />-->
    </platform>
</plugin>